trunk/FINT/FINTWeb/Web References/serverFINTFachada/serverFINTFachada.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="agregarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipo" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="rol">
        <s:restriction base="s:string">
          <s:enumeration value="Administrador" />
          <s:enumeration value="Usuario" />
        </s:restriction>
      </s:simpleType>
      <s:element name="agregarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="agregarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chequearUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chequearUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chequearUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modificarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerProveedores">
        <s:complexType />
      </s:element>
      <s:element name="obtenerProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerProveedoresResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="saldo" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="idProveedor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ingresarCuentaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCuentaXusuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCuentaXusuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCuentaXusuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="agregarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:agregarUsuario" />
  </wsdl:message>
  <wsdl:message name="agregarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:agregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="chequearUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:chequearUsuario" />
  </wsdl:message>
  <wsdl:message name="chequearUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:chequearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="modificarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:modificarUsuario" />
  </wsdl:message>
  <wsdl:message name="modificarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:modificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerProveedores" />
  </wsdl:message>
  <wsdl:message name="obtenerProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ingresarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:ingresarCuenta" />
  </wsdl:message>
  <wsdl:message name="ingresarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:ingresarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCuentaXusuarioSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCuentaXusuario" />
  </wsdl:message>
  <wsdl:message name="obtenerCuentaXusuarioSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCuentaXusuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="serverFINTFachadaSoap">
    <wsdl:operation name="agregarUsuario">
      <wsdl:input message="tns:agregarUsuarioSoapIn" />
      <wsdl:output message="tns:agregarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="chequearUsuario">
      <wsdl:input message="tns:chequearUsuarioSoapIn" />
      <wsdl:output message="tns:chequearUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <wsdl:input message="tns:modificarUsuarioSoapIn" />
      <wsdl:output message="tns:modificarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerProveedores">
      <wsdl:input message="tns:obtenerProveedoresSoapIn" />
      <wsdl:output message="tns:obtenerProveedoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ingresarCuenta">
      <wsdl:input message="tns:ingresarCuentaSoapIn" />
      <wsdl:output message="tns:ingresarCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCuentaXusuario">
      <wsdl:input message="tns:obtenerCuentaXusuarioSoapIn" />
      <wsdl:output message="tns:obtenerCuentaXusuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serverFINTFachadaSoap" type="tns:serverFINTFachadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarUsuario">
      <soap:operation soapAction="http://tempuri.org/agregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chequearUsuario">
      <soap:operation soapAction="http://tempuri.org/chequearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap:operation soapAction="http://tempuri.org/modificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProveedores">
      <soap:operation soapAction="http://tempuri.org/obtenerProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarCuenta">
      <soap:operation soapAction="http://tempuri.org/ingresarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCuentaXusuario">
      <soap:operation soapAction="http://tempuri.org/obtenerCuentaXusuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serverFINTFachadaSoap12" type="tns:serverFINTFachadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarUsuario">
      <soap12:operation soapAction="http://tempuri.org/agregarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chequearUsuario">
      <soap12:operation soapAction="http://tempuri.org/chequearUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap12:operation soapAction="http://tempuri.org/modificarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProveedores">
      <soap12:operation soapAction="http://tempuri.org/obtenerProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarCuenta">
      <soap12:operation soapAction="http://tempuri.org/ingresarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCuentaXusuario">
      <soap12:operation soapAction="http://tempuri.org/obtenerCuentaXusuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serverFINTFachada">
    <wsdl:port name="serverFINTFachadaSoap" binding="tns:serverFINTFachadaSoap">
      <soap:address location="http://localhost:51148/serverFINTFachada.asmx" />
    </wsdl:port>
    <wsdl:port name="serverFINTFachadaSoap12" binding="tns:serverFINTFachadaSoap12">
      <soap12:address location="http://localhost:51148/serverFINTFachada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>