FINT/FINTWeb/Web References/serverFINTFachada/serverFINTFachada.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="agregarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipo" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="rol">
        <s:restriction base="s:string">
          <s:enumeration value="Administrador" />
          <s:enumeration value="Usuario" />
          <s:enumeration value="Cliente" />
        </s:restriction>
      </s:simpleType>
      <s:element name="agregarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="agregarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chequearUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chequearUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chequearUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modificarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerProveedores">
        <s:complexType />
      </s:element>
      <s:element name="obtenerProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerProveedoresResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="saldo" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="idProveedor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ingresarCuentaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerUsuariosXTipo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerUsuariosXTipoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerUsuariosXTipoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCuentaXusuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCuentaXusuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCuentaXusuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarGasto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="concepto" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="vencimiento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idcuenta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarGastoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ingresarGastoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCuentasXusuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCuentasXusuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCuentasXusuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerGastosXusuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerGastosXusuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerGastosXusuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idGasto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idCuenta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="realizarPagoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarDeposito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCuenta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="concepto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarDepositoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="realizarDepositoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarExtraccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCuenta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="concepto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarExtraccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="realizarExtraccionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarTransferencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pCuentaOrig" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pCuentaDestino" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="concepto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarTransferenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="realizarTransferenciaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="estadoCuentaFINT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idcuenta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="estadoCuentaFINTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="estadoCuentaFINTResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="estadoCuentaRemoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idcuenta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="estadoCuentaRemotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="estadoCuentaRemotoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarComprobante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idcuenta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="comprobante" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idcliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ingresarComprobanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ingresarComprobanteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmarComprobante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idtransac" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmarComprobanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="confirmarComprobanteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerTransaccionesPendientes">
        <s:complexType />
      </s:element>
      <s:element name="obtenerTransaccionesPendientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerTransaccionesPendientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="agregarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:agregarUsuario" />
  </wsdl:message>
  <wsdl:message name="agregarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:agregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="chequearUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:chequearUsuario" />
  </wsdl:message>
  <wsdl:message name="chequearUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:chequearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="modificarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:modificarUsuario" />
  </wsdl:message>
  <wsdl:message name="modificarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:modificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerProveedores" />
  </wsdl:message>
  <wsdl:message name="obtenerProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ingresarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:ingresarCuenta" />
  </wsdl:message>
  <wsdl:message name="ingresarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:ingresarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerUsuariosXTipoSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerUsuariosXTipo" />
  </wsdl:message>
  <wsdl:message name="obtenerUsuariosXTipoSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerUsuariosXTipoResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCuentaXusuarioSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCuentaXusuario" />
  </wsdl:message>
  <wsdl:message name="obtenerCuentaXusuarioSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCuentaXusuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ingresarGastoSoapIn">
    <wsdl:part name="parameters" element="tns:ingresarGasto" />
  </wsdl:message>
  <wsdl:message name="ingresarGastoSoapOut">
    <wsdl:part name="parameters" element="tns:ingresarGastoResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCuentasXusuarioSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCuentasXusuario" />
  </wsdl:message>
  <wsdl:message name="obtenerCuentasXusuarioSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCuentasXusuarioResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerGastosXusuarioSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerGastosXusuario" />
  </wsdl:message>
  <wsdl:message name="obtenerGastosXusuarioSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerGastosXusuarioResponse" />
  </wsdl:message>
  <wsdl:message name="realizarPagoSoapIn">
    <wsdl:part name="parameters" element="tns:realizarPago" />
  </wsdl:message>
  <wsdl:message name="realizarPagoSoapOut">
    <wsdl:part name="parameters" element="tns:realizarPagoResponse" />
  </wsdl:message>
  <wsdl:message name="realizarDepositoSoapIn">
    <wsdl:part name="parameters" element="tns:realizarDeposito" />
  </wsdl:message>
  <wsdl:message name="realizarDepositoSoapOut">
    <wsdl:part name="parameters" element="tns:realizarDepositoResponse" />
  </wsdl:message>
  <wsdl:message name="realizarExtraccionSoapIn">
    <wsdl:part name="parameters" element="tns:realizarExtraccion" />
  </wsdl:message>
  <wsdl:message name="realizarExtraccionSoapOut">
    <wsdl:part name="parameters" element="tns:realizarExtraccionResponse" />
  </wsdl:message>
  <wsdl:message name="realizarTransferenciaSoapIn">
    <wsdl:part name="parameters" element="tns:realizarTransferencia" />
  </wsdl:message>
  <wsdl:message name="realizarTransferenciaSoapOut">
    <wsdl:part name="parameters" element="tns:realizarTransferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="estadoCuentaFINTSoapIn">
    <wsdl:part name="parameters" element="tns:estadoCuentaFINT" />
  </wsdl:message>
  <wsdl:message name="estadoCuentaFINTSoapOut">
    <wsdl:part name="parameters" element="tns:estadoCuentaFINTResponse" />
  </wsdl:message>
  <wsdl:message name="estadoCuentaRemotoSoapIn">
    <wsdl:part name="parameters" element="tns:estadoCuentaRemoto" />
  </wsdl:message>
  <wsdl:message name="estadoCuentaRemotoSoapOut">
    <wsdl:part name="parameters" element="tns:estadoCuentaRemotoResponse" />
  </wsdl:message>
  <wsdl:message name="ingresarComprobanteSoapIn">
    <wsdl:part name="parameters" element="tns:ingresarComprobante" />
  </wsdl:message>
  <wsdl:message name="ingresarComprobanteSoapOut">
    <wsdl:part name="parameters" element="tns:ingresarComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="confirmarComprobanteSoapIn">
    <wsdl:part name="parameters" element="tns:confirmarComprobante" />
  </wsdl:message>
  <wsdl:message name="confirmarComprobanteSoapOut">
    <wsdl:part name="parameters" element="tns:confirmarComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerTransaccionesPendientesSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerTransaccionesPendientes" />
  </wsdl:message>
  <wsdl:message name="obtenerTransaccionesPendientesSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerTransaccionesPendientesResponse" />
  </wsdl:message>
  <wsdl:portType name="serverFINTFachadaSoap">
    <wsdl:operation name="agregarUsuario">
      <wsdl:input message="tns:agregarUsuarioSoapIn" />
      <wsdl:output message="tns:agregarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="chequearUsuario">
      <wsdl:input message="tns:chequearUsuarioSoapIn" />
      <wsdl:output message="tns:chequearUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <wsdl:input message="tns:modificarUsuarioSoapIn" />
      <wsdl:output message="tns:modificarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerProveedores">
      <wsdl:input message="tns:obtenerProveedoresSoapIn" />
      <wsdl:output message="tns:obtenerProveedoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ingresarCuenta">
      <wsdl:input message="tns:ingresarCuentaSoapIn" />
      <wsdl:output message="tns:ingresarCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerUsuariosXTipo">
      <wsdl:input message="tns:obtenerUsuariosXTipoSoapIn" />
      <wsdl:output message="tns:obtenerUsuariosXTipoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCuentaXusuario">
      <wsdl:input message="tns:obtenerCuentaXusuarioSoapIn" />
      <wsdl:output message="tns:obtenerCuentaXusuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ingresarGasto">
      <wsdl:input message="tns:ingresarGastoSoapIn" />
      <wsdl:output message="tns:ingresarGastoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCuentasXusuario">
      <wsdl:input message="tns:obtenerCuentasXusuarioSoapIn" />
      <wsdl:output message="tns:obtenerCuentasXusuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerGastosXusuario">
      <wsdl:input message="tns:obtenerGastosXusuarioSoapIn" />
      <wsdl:output message="tns:obtenerGastosXusuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="realizarPago">
      <wsdl:input message="tns:realizarPagoSoapIn" />
      <wsdl:output message="tns:realizarPagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="realizarDeposito">
      <wsdl:input message="tns:realizarDepositoSoapIn" />
      <wsdl:output message="tns:realizarDepositoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="realizarExtraccion">
      <wsdl:input message="tns:realizarExtraccionSoapIn" />
      <wsdl:output message="tns:realizarExtraccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="realizarTransferencia">
      <wsdl:input message="tns:realizarTransferenciaSoapIn" />
      <wsdl:output message="tns:realizarTransferenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="estadoCuentaFINT">
      <wsdl:input message="tns:estadoCuentaFINTSoapIn" />
      <wsdl:output message="tns:estadoCuentaFINTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="estadoCuentaRemoto">
      <wsdl:input message="tns:estadoCuentaRemotoSoapIn" />
      <wsdl:output message="tns:estadoCuentaRemotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ingresarComprobante">
      <wsdl:input message="tns:ingresarComprobanteSoapIn" />
      <wsdl:output message="tns:ingresarComprobanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="confirmarComprobante">
      <wsdl:input message="tns:confirmarComprobanteSoapIn" />
      <wsdl:output message="tns:confirmarComprobanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTransaccionesPendientes">
      <wsdl:input message="tns:obtenerTransaccionesPendientesSoapIn" />
      <wsdl:output message="tns:obtenerTransaccionesPendientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serverFINTFachadaSoap" type="tns:serverFINTFachadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarUsuario">
      <soap:operation soapAction="http://tempuri.org/agregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chequearUsuario">
      <soap:operation soapAction="http://tempuri.org/chequearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap:operation soapAction="http://tempuri.org/modificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProveedores">
      <soap:operation soapAction="http://tempuri.org/obtenerProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarCuenta">
      <soap:operation soapAction="http://tempuri.org/ingresarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUsuariosXTipo">
      <soap:operation soapAction="http://tempuri.org/obtenerUsuariosXTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCuentaXusuario">
      <soap:operation soapAction="http://tempuri.org/obtenerCuentaXusuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarGasto">
      <soap:operation soapAction="http://tempuri.org/ingresarGasto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCuentasXusuario">
      <soap:operation soapAction="http://tempuri.org/obtenerCuentasXusuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerGastosXusuario">
      <soap:operation soapAction="http://tempuri.org/obtenerGastosXusuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarPago">
      <soap:operation soapAction="http://tempuri.org/realizarPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarDeposito">
      <soap:operation soapAction="http://tempuri.org/realizarDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarExtraccion">
      <soap:operation soapAction="http://tempuri.org/realizarExtraccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarTransferencia">
      <soap:operation soapAction="http://tempuri.org/realizarTransferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoCuentaFINT">
      <soap:operation soapAction="http://tempuri.org/estadoCuentaFINT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoCuentaRemoto">
      <soap:operation soapAction="http://tempuri.org/estadoCuentaRemoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarComprobante">
      <soap:operation soapAction="http://tempuri.org/ingresarComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmarComprobante">
      <soap:operation soapAction="http://tempuri.org/confirmarComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTransaccionesPendientes">
      <soap:operation soapAction="http://tempuri.org/obtenerTransaccionesPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serverFINTFachadaSoap12" type="tns:serverFINTFachadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarUsuario">
      <soap12:operation soapAction="http://tempuri.org/agregarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chequearUsuario">
      <soap12:operation soapAction="http://tempuri.org/chequearUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap12:operation soapAction="http://tempuri.org/modificarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProveedores">
      <soap12:operation soapAction="http://tempuri.org/obtenerProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarCuenta">
      <soap12:operation soapAction="http://tempuri.org/ingresarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUsuariosXTipo">
      <soap12:operation soapAction="http://tempuri.org/obtenerUsuariosXTipo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCuentaXusuario">
      <soap12:operation soapAction="http://tempuri.org/obtenerCuentaXusuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarGasto">
      <soap12:operation soapAction="http://tempuri.org/ingresarGasto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCuentasXusuario">
      <soap12:operation soapAction="http://tempuri.org/obtenerCuentasXusuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerGastosXusuario">
      <soap12:operation soapAction="http://tempuri.org/obtenerGastosXusuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarPago">
      <soap12:operation soapAction="http://tempuri.org/realizarPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarDeposito">
      <soap12:operation soapAction="http://tempuri.org/realizarDeposito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarExtraccion">
      <soap12:operation soapAction="http://tempuri.org/realizarExtraccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarTransferencia">
      <soap12:operation soapAction="http://tempuri.org/realizarTransferencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoCuentaFINT">
      <soap12:operation soapAction="http://tempuri.org/estadoCuentaFINT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoCuentaRemoto">
      <soap12:operation soapAction="http://tempuri.org/estadoCuentaRemoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ingresarComprobante">
      <soap12:operation soapAction="http://tempuri.org/ingresarComprobante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmarComprobante">
      <soap12:operation soapAction="http://tempuri.org/confirmarComprobante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTransaccionesPendientes">
      <soap12:operation soapAction="http://tempuri.org/obtenerTransaccionesPendientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serverFINTFachada">
    <wsdl:port name="serverFINTFachadaSoap" binding="tns:serverFINTFachadaSoap">
      <soap:address location="http://localhost:51148/serverFINTFachada.asmx" />
    </wsdl:port>
    <wsdl:port name="serverFINTFachadaSoap12" binding="tns:serverFINTFachadaSoap12">
      <soap12:address location="http://localhost:51148/serverFINTFachada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>