trunk/FINT/FINTDesktop/FINTDesktop/Web References/serverFINTFachada/serverFINTFachada.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="agregarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipo" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="rol">
        <s:restriction base="s:string">
          <s:enumeration value="Administrador" />
          <s:enumeration value="Usuario" />
        </s:restriction>
      </s:simpleType>
      <s:element name="agregarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="agregarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chequearUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chequearUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chequearUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="agregarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:agregarUsuario" />
  </wsdl:message>
  <wsdl:message name="agregarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:agregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="chequearUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:chequearUsuario" />
  </wsdl:message>
  <wsdl:message name="chequearUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:chequearUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="serverFINTFachadaSoap">
    <wsdl:operation name="agregarUsuario">
      <wsdl:input message="tns:agregarUsuarioSoapIn" />
      <wsdl:output message="tns:agregarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="chequearUsuario">
      <wsdl:input message="tns:chequearUsuarioSoapIn" />
      <wsdl:output message="tns:chequearUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serverFINTFachadaSoap" type="tns:serverFINTFachadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarUsuario">
      <soap:operation soapAction="http://tempuri.org/agregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chequearUsuario">
      <soap:operation soapAction="http://tempuri.org/chequearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serverFINTFachadaSoap12" type="tns:serverFINTFachadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarUsuario">
      <soap12:operation soapAction="http://tempuri.org/agregarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chequearUsuario">
      <soap12:operation soapAction="http://tempuri.org/chequearUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serverFINTFachada">
    <wsdl:port name="serverFINTFachadaSoap" binding="tns:serverFINTFachadaSoap">
      <soap:address location="http://localhost:51148/serverFINTFachada.asmx" />
    </wsdl:port>
    <wsdl:port name="serverFINTFachadaSoap12" binding="tns:serverFINTFachadaSoap12">
      <soap12:address location="http://localhost:51148/serverFINTFachada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>